* {
    font-family: 'Montserrat', sans-serif;
    color: #FFF;
    cursor: url(assets/img/diamond.png), auto;
}
body {
    background-image: url('assets/img/fond.jpg');
}
footer {
    background-color: #582900;
}
.small {
    color: #FFF;
    position: absolute;
    bottom: 0;
    left: 0;
}
.link-footer {
    margin: 20px 0;
    list-style: none;
}
.link-footer img{
    margin: 10px;
}
.nav-link{
    background-color: #CDCD0D;
    padding: 15px;
    color: black;
}
.nav-link:hover{
    animation-name: degueuButton;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}
@keyframes degueuButton{
    0%   {background-color:#ed70ed; color:green}
    25%  {background-color:yellow; color:purple}
    50%  {background-color:blue; color:#582900}
    75%  {background-color:green; color:orangered}
    100% {background-color:red; color:turquoise}
}
.img:hover{
    animation-name: imageTimide;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.form-control:focus{
    animation-name: imageTimide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes imageTimide{
    0%   {left: 1%; right: 5%; top: 5%;}
    25%  {left: 2%; right: 6%; top: 6%;}
    50%  {left: 3%; right: 10%; top: 10%;}
    75%  {left: 4%; right: 15%; top: 20%;}
    100% {left: 5%; right: 25%; top: 40%; opacity: 0;}
}
.navbar{
    padding: 0;
    background-color: #582900;
}
footer:hover{
    animation-name: footercolor;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes footercolor{
    0%   {background-color:#ed70ed; color:green}
    25%  {background-color:yellow; color:purple}
    50%  {background-color:blue; color:#582900}
    75%  {background-color:green; color:orangered}
    100% {background-color:red; color:turquoise}
}
iframe{
    width: 100vw;
    margin-top: 0 auto;
}
span img{
    width: 30px;
    height: 30px;
}